{% extends 'sub/base.html' %}

{% block content %}

<!-- Account -->
<section class="bg-light py-5">
  <div class="container">
  </div>
</section>
<section class="bg-secondary py-5 text-white block py-5">
  <div class="container">
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">________</h4>
    </div>
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">Produit ajouté !</h4>
    </div>
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">________</h4>
    </div>
  </div> 
</section>
<section class="page-section">
  <div class="container">
    <div class="row h-25 justify-content-center align-items-center">
      <h6 class="align-text-bottom">Salut {{ contact }}, vous avez ajouté " {{ favorite }} " aux favoris.</h6>
    </div>
    <div class="row h-25 justify-content-center align-items-center">
      <h6 class="align-text-bottom">Сliquez sur la carotte pour voir consulter la liste des produits sélectionnés</h6>
    </div>
  </div> 
</section>

{% endblock %}