{% extends 'sub/base.html' %}

{% block content %}

<!-- Account -->
<section class="bg-light py-5">
  <div class="container">
  </div>
</section>
<section class="bg-secondary py-5 text-white block py-5">
  <div class="container">
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">________</h4>
    </div>
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">{{ product_name }}</h4>
    </div>
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">________</h4>
    </div>
  </div> 
</section>
<section class="page-section">
  <div class="container">
    <div class="row h-25 justify-content-center align-items-center">
      <div class="col-sm-6 text-center">
        <img class="img-responsive" src= "https://static.openfoodfacts.org/images/misc/nutriscore-{{product_score}}.svg"> 
      </div>
      <div class="col-sm-6 text-center">
        <img class="img-responsive" src= "{{ product_nutrition }}">    
      </div>
    </div>
    <br>
    <div class="row h-25 justify-content-center align-items-center"> 
      <a class="btn btn-primary btn-l js-scroll-trigger" href="{{ product_url }}">Voir la fish d'Open Food Facts</a>
    </div>
  </div>
</section>

{% endblock %}