{% extends 'sub/base.html' %}

{% block content %}

<!-- Products -->
<section class="bg-light py-5">
  <div class="container">
  </div>
</section>
<section class="bg-secondary py-5 text-white block py-5">
  <div class="container">
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">________</h4>
    </div>
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">Substitutes pour {{ product_name }}</h4>
    </div>
    <div class="row h-25 justify-content-center align-items-center">
      <h4 class="align-text-bottom">________</h4>
    </div>
  </div> 
</section>
<section class="page-section">
    <div class="container">
      <div class="row h-25 justify-content-center align-items-center">
        <div class="col-sm-6 text-center">
          <h3>{{ product_name }}</h3>
        </div> 
      <div class="row h-25 justify-content-center align-items-center"> 
        <a class="btn btn-primary btn-l js-scroll-trigger" href="https://fr.openfoodfacts.org/produit/80762003/nutela-ferrero">Sauvegarder</a>
      </div>
    </div>
  </section>
 
{% endblock %}


